<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Joke API practice</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Matemasie&family=New+Amsterdam&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container">
      <div class="response">
        <p><%= content %></p>
      </div>
      <form id="myForm" method="post">
        <input
          class="text"
          type="text"
          placeholder="Write Smth"
          name="fname"
        />
        <input class="submit" type="submit" formaction="/get-joke" value="Get Joke">
      </form>
    </div>
  </body>
</html>